services:
  mssql:
    image: "mcr.microsoft.com/mssql/server:2022-latest"
    container_name: "mssql_db"
    environment:
      - SA_PASSWORD=ChangeThis!!1
      - ACCEPT_EULA=Y
    volumes:
      - mssql_data:/var/opt/mssql

  api:
    build:
      context: ./src
      dockerfile: ReactTSWithNetCoreTemplate.API/Dockerfile
    container_name: reacttswithnetcoretemplate_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Release
      - ConnectionStrings__DefaultConnection=Server=mssql_db,1433;Database=ReactTSWithNetCoreTemplateDB;User=sa;Password=ChangeThis!!1;TrustServerCertificate=True;
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "5010:80"
    depends_on:
      - mssql

  client:
    build:
      context: ./src/reacttswithnetcoretemplate.client
      dockerfile: Dockerfile
    container_name: reacttswithnetcoretemplate_client
    ports:
      - "3000:80"
    depends_on:
      - api

volumes:
  mssql_data:

#docker-compose -p reacttswithnetcoretemplate down ; docker-compose -p reacttswithnetcoretemplate up --build -d